################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testPrj/.vs
/testPrj/Debug
/testPrj/ipch/TESTPRJ-7f98e7c6
/testPrj/testPrj.sdf
/testPrj/testPrj.VC.opendb
/testPrj/testPrj/Debug
